### .gitingore for AzureLabs repo
###

# Default entries
.htaccess
css.php
HISTORY.txt
README.txt

# Ignore "Private" files
Private/


# Ignore temporary or scratch files
**/foo*
**/*.log
[Tt]emp/
*.log
*.bak
*.[Tt]emp
*.tmp
*[Ss]cratch*

# Ignore possibly very large files
*.iso
*.vhdx
*.vhd
*.zip
