### .gitignore for AzureLabs repo
###
# exclude the ignore file
.gitignore

# Default entries
.htaccess
css.php
HISTORY.txt
README.txt

# Ignore everything in "Private" anmd "secrets" folders
Private/
secrets/

# Ignore temporary or scratch files
**/foo*
**/*.log
[Tt]emp/
*.log
*.bak
*.[Tt]emp
*.tmp
*[Ss]cratch*

# Ignore possibly very large files
*.iso
*.vhdx
*.vhd
*.zip
*.msi
*.msix

# Exclude vim swap files and backups
*.swap
*.sw
*~
 